* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#right-click-menu {
    position: fixed;
    z-index: 2;
    width: 150px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
    padding: 4px;
    display: none;
}

#right-click-menu .item {
    padding: 8px 10px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    border-radius: inherit;
}
#right-click-menu .item:hover {
    background-color: gainsboro;
}

nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 20px;
    color: white;
    background-color: black;
}

nav p {
    font-size: 30px;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav .sidebar-button {
    padding: 15px;
    border-radius: 6px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#search-input {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sideBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-color:rgba(128, 128, 128, 0.42);
    transition: 0.4s ease;
}

.sideBar.open {
    width: 35vw;
}

.dropdown-menu {
    position: fixed;
    display: none;
    top: 10vh;
    left: 0;
    right: 0;
    height: 75vh;
    padding: 20px;
    z-index: 2;
    background-color: rgb(128, 128, 128);
}

.dropdown-menu.view {
    display: flex;
}

.dropdown-boxed {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.dropdown-sections {
    display: flex;
    height: 100%;
}

.dropdown-section {
    width: 33.33%;
    border: 2px solid red;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: beige;
}

.main-aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    height: 100vh;
}

.left-aside {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 89vh;
    width: 200px;
    top: 10vh;
    left: 0;
    margin: 4px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.458);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.left-aside h4 {
    position: absolute;
    top: 0;
}

.overlay {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.549);
}

.div-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
} 

.div-overlay h3 {
    margin: 20px;
}

.close-button {
    padding: 30px;
    border-radius: 6px;
}

.overlay-button, .random-button, .sort-button {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.generate-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 8px;
    margin: 30px;
    border-radius: 10px;
    color: black;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.random-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 30px;
    border-radius: 10px;
    color: black;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scrollToTopBtn {
    display: none;
    left: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.scrollToTopBtn.show {
    display: flex;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 30px;
    color: white;
    background-color: black;
}